body {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 100vh;
}

main {
  font-family: 'Comic Neue', cursive;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: .5em;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  width: 60%;
  margin-bottom: 3em;
}

.interval-container {
    display: flex;
    margin: 0 30px;
    align-items: center;
}

.both-intervals-container {
    width: 90%;
    justify-content: center;
    display: flex;
}

button {
    font-size: 20px;
    padding: 3px 15px;
    margin: 0 10px;
    background-color: #757575;
    outline: none;
    cursor: pointer;
    color: #eee;
    border-radius: 5px;
    border: none;
    border: 2px solid #263646;
}

button:disabled {
    cursor: not-allowed;
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

.timer-section {
  width: 100%
}

.timer-container {
    margin: 40px auto;
    margin-bottom: 20px;
    border-radius: 45px;
    width: 300px;
    text-align: center;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
                0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    padding: 20px;
    background-color: #65d7fa;
    border: 2px solid #263646;
}

.timer {
    font-size: 2rem;
}

.timer-actions {
  border: 2px solid #263646;
}

.actions-container {
    display: flex;
    justify-content: center;
}

.timer-action-play {
  background-color: rgba(0, 128, 0, 0.8);
}

.timer-action-stop {
  background-color: rgba(255, 0, 0, 0.8);
}

.timer-action-refresh {
  background-color: rgba(0, 0, 255, 0.8);
}